In [1]:
#Importamos pandas
import pandas as pd

In [15]:
#Importamos el dataset de google
google = pd.read_pickle('restaurants_google_final.pkl')
google.head()

,Id_Restaurant,Nombre,Ciudad,Estado,Cod_postal,Latitud,Longitud,Tipo,Atributos
0,0x80c2c778e3b73d33:0xbdc58662a4a97d49,San Soo Dang,Los Angeles,CA,90005,34.058092,-118.292130,[Korean restaurant],"{'Service options': ['Takeout', 'Dine-in', 'De..."
1,0x80dd2b4c8555edb7:0xfc33d65c4bdbef42,Vons Chicken,La Mirada,CA,90638,33.916402,-118.010855,[Restaurant],"{'Service options': ['Outdoor seating', 'Curbs..."
2,0x87ec235c54d25b31:0x3b75fb5facc602f,"Sweet Rewards Gluten Free Bakery, LLC",Waukee,IA,50263,41.616079,-93.865487,"[Bakery, Health food restaurant]",{'Service options': ['Delivery']}
3,0x89c6c89efcaed69d:0xded973f6033e7dba,Vivi Bubble Tea,Philadelphia,PA,19147,39.940293,-75.150923,[Restaurant],"{'Service options': ['Delivery'], 'Amenities':..."
4,0x7c00456eecad3111:0x8217f9600c51f33,Hale Pops,Laie,HI,96762,21.637796,-157.920714,[Restaurant],"{'Service options': ['Outdoor seating', 'Takeo..."

In [16]:
google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204702 entries, 0 to 204701
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Id_Restaurant  204702 non-null  object
 1   Nombre         204702 non-null  object
 2   Ciudad         204702 non-null  object
 3   Estado         204702 non-null  object
 4   Cod_postal     204702 non-null  object
 5   Latitud        204702 non-null  float64
 6   Longitud       204702 non-null  float64
 7   Tipo           204702 non-null  object
 8   Atributos      203478 non-null  object
dtypes: float64(2), object(7)
memory usage: 14.1+ MB

In [17]:
#Importamos el dataset de yelp
yelp = pd.read_pickle('restaurants_yelp_final.pkl')
yelp.head()

,Id_Restaurant,Nombre,Ciudad,Estado,Cod_postal,Latitud,Longitud,Tipo,Atributos
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,CA,19107,39.955505,-75.155564,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'RestaurantsDelivery': 'False', 'OutdoorSeati..."
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,Ashland City,AZ,37015,36.269593,-87.058943,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'BusinessParking': 'None', 'BusinessAcceptsCr..."
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,Affton,TN,63123,38.565165,-90.321087,"Pubs, Restaurants, Italian, Bars, American (Tr...","{'Caters': 'True', 'Alcohol': 'u'full_bar'', '..."
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,Nashville,MO,37207,36.208102,-86.76817,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'RestaurantsAttire': ''casual'', 'Restaurants..."
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,Tampa Bay,MO,33602,27.955269,-82.45632,"Vietnamese, Food, Restaurants, Food Trucks","{'Alcohol': ''none'', 'OutdoorSeating': 'None'..."

In [18]:
yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50867 entries, 0 to 50866
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id_Restaurant  50867 non-null  object
 1   Nombre         50867 non-null  object
 2   Ciudad         50867 non-null  object
 3   Estado         50867 non-null  object
 4   Cod_postal     50867 non-null  object
 5   Latitud        50867 non-null  object
 6   Longitud       50867 non-null  object
 7   Tipo           50867 non-null  object
 8   Atributos      50310 non-null  object
dtypes: object(9)
memory usage: 3.5+ MB

In [19]:
#Reducimos los dataframes así es más liviano el trabajo
google_id_nombre_postal = google[['Id_Restaurant','Nombre','Cod_postal']]
yelp_id_nombre_postal = yelp[['Id_Restaurant','Nombre','Cod_postal']]

In [20]:
#Juntamos los dataframes
merge = pd.merge(google_id_nombre_postal,yelp_id_nombre_postal,on=['Nombre','Cod_postal'])
merge.head()

,Id_Restaurant_x,Nombre,Cod_postal,Id_Restaurant_y
0,0x88c2fea614c52c8b:0x50e166caa05e8c0f,Kala' Bites & Brews,33708,IjulL_5PvUyJJyIHNQtu-w
1,0x89c6ac87db2a14b9:0x574dceb7c72ce463,Wawa,18954,g2bYK-Z3foqSnCiOPYtdsA
2,0x88c2c5c515fa6e53:0xee4f630ca314fe01,Flock and Stock,33602,O1x70YS930qP3beQIystoA
3,0x89c1352001dc66d1:0xb8ca54f815dbb1bf,Dunkin',08054,H1bbYNKgk6JF9pKcBXyDXw
4,0x886466970c8a4e45:0xb01d015d268be1be,GoGo Sushi,37212,LIVL3r0LDrKl2RwbQ6TY8w

In [21]:
#Hay 4489 registros que coinciden en los dos datasets
merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4489 entries, 0 to 4488
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id_Restaurant_x  4489 non-null   object
 1   Nombre           4489 non-null   object
 2   Cod_postal       4489 non-null   object
 3   Id_Restaurant_y  4489 non-null   object
dtypes: object(4)
memory usage: 175.4+ KB

In [22]:
#Observamos los valores en el dataframe de google
google[google['Id_Restaurant'].isin(merge['Id_Restaurant_x'].values)].sort_values(by='Nombre').head()

,Id_Restaurant,Nombre,Ciudad,Estado,Cod_postal,Latitud,Longitud,Tipo,Atributos
748,0x89c6c77063630275:0x9462eb2e4d0f5f03,$5 Fresh Burger Stop,Philadelphia,PA,19145,39.938200,-75.172553,[Restaurant],"{'Service options': ['Takeout'], 'Popular for'..."
192075,0x89c6b1a739082ef7:0xf95519b3329603ef,&pizza - Willow Grove,Willow Grove,PA,19090,40.140124,-75.123456,[Pizza restaurant],"{'Service options': ['No-contact delivery', 'D..."
9816,0x886b53aee6fa724f:0x5e094a4bf1083fae,10-01 Food & Drink,Indianapolis,IN,46220,39.869571,-86.141461,"[American restaurant, Bar, Restaurant]","{'Service options': ['Outdoor seating', 'Deliv..."
82908,0x886b50398d7986e5:0x45dce6bae9655660,10th Street Diner,Indianapolis,IN,46201,39.781130,-86.109609,"[Vegan restaurant, Diner]","{'Service options': ['Curbside pickup', 'Takea..."
185862,0x89c6c5ec2c62bc7b:0x3a2933907b662554,1100 Social,Philadelphia,PA,19148,39.904156,-75.169127,[American restaurant],"{'Service options': ['Takeout', 'Delivery'], '..."

In [23]:
#Observamos los valores en el dataframe de yelp
yelp[yelp['Id_Restaurant'].isin(merge['Id_Restaurant_y'].values)].sort_values(by='Nombre').head()

,Id_Restaurant,Nombre,Ciudad,Estado,Cod_postal,Latitud,Longitud,Tipo,Atributos
38668,3zEedfqHtCrQEUsmPsDNsA,$5 Fresh Burger Stop,Philadelphia,PA,19145,39.91852,-75.182777,"Restaurants, Food Stands, Burmese","{'RestaurantsTakeOut': 'None', 'RestaurantsDel..."
50691,zdv6HmtViGmQn4PVk9bAWQ,&pizza - Willow Grove,Willow Grove,PA,19090,40.140124,-75.123456,"Pizza, Vegetarian, Restaurants, Vegan","{'OutdoorSeating': 'True', 'GoodForKids': 'Tru..."
20041,lmXhXyGh_bLzY2eqgmCrJA,10-01 Food & Drink,Indianapolis,TN,46220,39.869548,-86.141411,"Bars, Restaurants, Nightlife, Cocktail Bars, A...","{'RestaurantsDelivery': 'False', 'BusinessPark..."
2194,plYv1QpBDnLJ8cOtvZvmfA,10th Street Diner,Indianapolis,NJ,46201,39.781107,-86.109629,"Vegan, Vegetarian, Restaurants","{'NoiseLevel': 'u'average'', 'RestaurantsGoodF..."
47749,x4855nj7vfdXeVpg5fREZA,1100 Social,Philadelphia,ID,19148,39.904169,-75.169129,"Bars, Nightlife, Restaurants, American (New)","{'GoodForKids': 'False', 'Music': '{'dj': None..."

Vamos a conservar los ids de google y descartar los de yelp. Entonces deberemos reemplazar los segundos con los primeros en las reviews.

In [26]:
#Descartamos los registros del dataset de yelp
indices_descarte = yelp[yelp['Id_Restaurant'].isin(merge['Id_Restaurant_y'].values)].index
yelp.drop(index=indices_descarte,inplace=True)
yelp.reset_index(inplace=True,drop=True)
yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46378 entries, 0 to 46377
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id_Restaurant  46378 non-null  object
 1   Nombre         46378 non-null  object
 2   Ciudad         46378 non-null  object
 3   Estado         46378 non-null  object
 4   Cod_postal     46378 non-null  object
 5   Latitud        46378 non-null  object
 6   Longitud       46378 non-null  object
 7   Tipo           46378 non-null  object
 8   Atributos      45871 non-null  object
dtypes: object(9)
memory usage: 3.2+ MB

In [28]:
#Armamos un solo dataframe
restaurants = pd.concat([google,yelp],ignore_index=True)
restaurants.head()

,Id_Restaurant,Nombre,Ciudad,Estado,Cod_postal,Latitud,Longitud,Tipo,Atributos
0,0x80c2c778e3b73d33:0xbdc58662a4a97d49,San Soo Dang,Los Angeles,CA,90005,34.058092,-118.29213,[Korean restaurant],"{'Service options': ['Takeout', 'Dine-in', 'De..."
1,0x80dd2b4c8555edb7:0xfc33d65c4bdbef42,Vons Chicken,La Mirada,CA,90638,33.916402,-118.010855,[Restaurant],"{'Service options': ['Outdoor seating', 'Curbs..."
2,0x87ec235c54d25b31:0x3b75fb5facc602f,"Sweet Rewards Gluten Free Bakery, LLC",Waukee,IA,50263,41.616079,-93.865487,"[Bakery, Health food restaurant]",{'Service options': ['Delivery']}
3,0x89c6c89efcaed69d:0xded973f6033e7dba,Vivi Bubble Tea,Philadelphia,PA,19147,39.940293,-75.150923,[Restaurant],"{'Service options': ['Delivery'], 'Amenities':..."
4,0x7c00456eecad3111:0x8217f9600c51f33,Hale Pops,Laie,HI,96762,21.637796,-157.920714,[Restaurant],"{'Service options': ['Outdoor seating', 'Takeo..."

In [29]:
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251080 entries, 0 to 251079
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Id_Restaurant  251080 non-null  object
 1   Nombre         251080 non-null  object
 2   Ciudad         251080 non-null  object
 3   Estado         251080 non-null  object
 4   Cod_postal     251080 non-null  object
 5   Latitud        251080 non-null  object
 6   Longitud       251080 non-null  object
 7   Tipo           251080 non-null  object
 8   Atributos      249349 non-null  object
dtypes: object(9)
memory usage: 17.2+ MB

In [30]:
#Exportamos
restaurants.to_pickle('restaurants.pkl')

Ahora resta modificar las reviews para que todas las que eliminamos de yelp pasen a referirse a google.