In [1]:
#Importamos pandas
import pandas as pd

In [2]:
#Importamos el dataset de google
google = pd.read_pickle('restaurants_google.pkl')
google.head()

,Id_Restaurant,Nombre,Ciudad,Estado,Cod_postal,Latitud,Longitud,Tipo,Atributos
0,0x80c2c778e3b73d33:0xbdc58662a4a97d49,San Soo Dang,Los Angeles,CA,90005,34.058092,-118.292130,[Korean restaurant],"{'Service options': ['Takeout', 'Dine-in', 'De..."
1,0x80dd2b4c8555edb7:0xfc33d65c4bdbef42,Vons Chicken,La Mirada,CA,90638,33.916402,-118.010855,[Restaurant],"{'Service options': ['Outdoor seating', 'Curbs..."
2,0x87ec235c54d25b31:0x3b75fb5facc602f,"Sweet Rewards Gluten Free Bakery, LLC",Waukee,IA,50263,41.616079,-93.865487,"[Bakery, Health food restaurant]",{'Service options': ['Delivery']}
3,0x89c6c89efcaed69d:0xded973f6033e7dba,Vivi Bubble Tea,Philadelphia,PA,19147,39.940293,-75.150923,[Restaurant],"{'Service options': ['Delivery'], 'Amenities':..."
4,0x7c00456eecad3111:0x8217f9600c51f33,Hale Pops,Laie,HI,96762,21.637796,-157.920714,[Restaurant],"{'Service options': ['Outdoor seating', 'Takeo..."

In [4]:
google.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209123 entries, 0 to 209122
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Id_Restaurant  209123 non-null  object
 1   Nombre         209123 non-null  object
 2   Ciudad         209123 non-null  object
 3   Estado         209123 non-null  object
 4   Cod_postal     209123 non-null  object
 5   Latitud        209123 non-null  float64
 6   Longitud       209123 non-null  float64
 7   Tipo           209123 non-null  object
 8   Atributos      207894 non-null  object
dtypes: float64(2), object(7)
memory usage: 14.4+ MB

In [3]:
#Importamos el dataset de yelp
yelp = pd.read_pickle('restaurants_yelp.pkl')
yelp.head()

,Id_Restaurant,Nombre,Ciudad,Estado,Cod_postal,Latitud,Longitud,Tipo,Atributos
0,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,Philadelphia,CA,19107,39.955505,-75.155564,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","{'RestaurantsDelivery': 'False', 'OutdoorSeati..."
1,CF33F8-E6oudUQ46HnavjQ,Sonic Drive-In,Ashland City,AZ,37015,36.269593,-87.058943,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...","{'BusinessParking': 'None', 'BusinessAcceptsCr..."
2,k0hlBqXX-Bt0vf1op7Jr1w,Tsevi's Pub And Grill,Affton,TN,63123,38.565165,-90.321087,"Pubs, Restaurants, Italian, Bars, American (Tr...","{'Caters': 'True', 'Alcohol': 'u'full_bar'', '..."
3,bBDDEgkFA1Otx9Lfe7BZUQ,Sonic Drive-In,Nashville,MO,37207,36.208102,-86.76817,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","{'RestaurantsAttire': ''casual'', 'Restaurants..."
4,eEOYSgkmpB90uNA7lDOMRA,Vietnamese Food Truck,Tampa Bay,MO,33602,27.955269,-82.45632,"Vietnamese, Food, Restaurants, Food Trucks","{'Alcohol': ''none'', 'OutdoorSeating': 'None'..."

In [5]:
yelp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52286 entries, 0 to 52285
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id_Restaurant  52286 non-null  object
 1   Nombre         52286 non-null  object
 2   Ciudad         52286 non-null  object
 3   Estado         52286 non-null  object
 4   Cod_postal     52286 non-null  object
 5   Latitud        52286 non-null  object
 6   Longitud       52286 non-null  object
 7   Tipo           52286 non-null  object
 8   Atributos      51720 non-null  object
dtypes: object(9)
memory usage: 4.0+ MB

In [7]:
#Reducimos los dataframes así es más liviano el trabajo
google_id_nombre_postal = google[['Id_Restaurant','Nombre','Cod_postal']]
yelp_id_nombre_postal = yelp[['Id_Restaurant','Nombre','Cod_postal']]

In [14]:
#Juntamos los dataframes
merge = pd.merge(google_id_nombre_postal,yelp_id_nombre_postal,on=['Nombre','Cod_postal'])
merge.head()

,Id_Restaurant_x,Nombre,Cod_postal,Id_Restaurant_y
0,0x88c2fea614c52c8b:0x50e166caa05e8c0f,Kala' Bites & Brews,33708,IjulL_5PvUyJJyIHNQtu-w
1,0x89c6ac87db2a14b9:0x574dceb7c72ce463,Wawa,18954,g2bYK-Z3foqSnCiOPYtdsA
2,0x89c6ac629b50244f:0x369331bc7362236c,Wawa,18954,g2bYK-Z3foqSnCiOPYtdsA
3,0x88c2c5c515fa6e53:0xee4f630ca314fe01,Flock and Stock,33602,O1x70YS930qP3beQIystoA
4,0x89c1352001dc66d1:0xb8ca54f815dbb1bf,Dunkin',08054,H1bbYNKgk6JF9pKcBXyDXw

In [13]:
#Hay 5154 registros que coinciden en los dos datasets
merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5154 entries, 0 to 5153
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id_Restaurant_x  5154 non-null   object
 1   Nombre           5154 non-null   object
 2   Cod_postal       5154 non-null   object
 3   Id_Restaurant_y  5154 non-null   object
dtypes: object(4)
memory usage: 201.3+ KB